.container {
  display: flex;
  background-color: beige;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.image {
  position: absolute;
  width: 50%;
  height: 50%;
}

.titel {
  position: absolute;
  left: 0;
  text-align: left;
  margin: 125px 125px 0px 0px;
  color: black;
  font-family: "VAG Rounded Bold";
  font-size: 99px;
  width: 50%;
  height: 100%;
  padding: 0 0 0 5%;
}
