.container {
  display: flex;
  background-color: beige;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
img {
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.pijl1,
.pijl2 {
  position: absolute;
  flex-direction: column;
  left: 0;
  width: 10%;
  height: auto;
}

.pijl1 {
  top: 55%;
  left: 37%;
}

.pijl2 {
  top: 12.5%;
  left: 37%;
}
