.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;  
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.timer {
  position: absolute;
  top: 64px;
  right: 0;
  width: 256px;
  height: 256px;
  padding: 0 5% 0 0;
  color: white;
}

.timerTeken {
  position: absolute;
  top: 256px;
  right: 0;
  width: 256px;
  height: 256px;
  padding: 0 5% 0 0;
  color: white;
}

.vraag {
  position: relative;
  text-align: left;
  font-size: 56px;
  max-width: 70%;
}

.antwoord {
  position: relative;
  text-align: left;
  font-size: 32px;
  margin-left: 10%;
}

.wrong-answer {
  position: relative;
  text-align: left;
  color: black;
  text-decoration: line-through;
  font-size: 24px;
}

.text-content {
  position: absolute;
  top: 0;
  text-align: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* This sets the font weight to semibold */  
  font-size: 40px;
  margin-left: 20%;  
  max-width: 100%; 
  word-wrap: break-word; /* This will break the word to next line */
  overflow-wrap: break-word; /* This will break the word to next line */
}

.verklaring {
  
  width: 100%; 
}
