.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%; 
  
}

.timer {
  position: absolute;
  top: 64px;
  right: 0;
  width: 412px;
  height: 412px;
  padding: 0 5% 0 0;
}

.vraag {
  position: relative;
  text-align: left;
  font-size: 70px;
  max-width: 65%;
}

.antwoord {
  position: relative;
  text-align: left;
  font-size: 40px;
  margin-left: 10%;
}

.wrong-answer {
  position: relative;
  text-align: left;
  color: grey;
  text-decoration: line-through;
  font-size: 24px;
}

.text-content {
  position: absolute;
  top: 0;
  text-align: left;
  color: black;
  font-family: "VAG Rounded Bold";
  font-size: 40px;
  margin-left: 20%;  
  max-width: 100%; 
}

.verklaring {
  
  width: 100%; 
}
