.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #44c8f5, #44c8f5);
    clip-path: polygon(10% 100%, 100% 100%, 100% 0, 20% 0);
        z-index: 0;
  }