.totaalOverzicht-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

.totaalOverzicht-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.totaalOverzicht-title {
  position: absolute;
  top: 0;
  left: 64px;
  text-align: left;
  color: black;
  font-family: "VAG Rounded Bold";
  font-size: 96px;
  z-index: 1;
}
