.overzicht-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;  
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.textbox {
  position: absolute;
  font-family: "VAG Rounded Bold";
  font-size: 48px;
}

.textbox1 {
  top: 25%;
  left: 37.5%;
}

.textbox2 {
  top: 80%;
  left: 15%; 
}

.textbox3 {
  top: 70%; 
  left: 75%; 
}

.title {
  position: absolute;
  top: 0;
  left: 64px;
  text-align: left;
  color: black;
  font-family: "VAG Rounded";
  font-size: 96px;
  z-index: 1;
}

