.overzicht-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 85%;
  position: relative;
  margin-top: 64px; /* Adjust this value as needed */
}

.textbox {
  position: absolute;
  font-family: "VAG Rounded";
  font-size: 48px;
}

.textbox1 {
  top: 25%;
  left: 37.5%;
}

.textbox2 {
  top: 75%;
  left: 15%; 
}

.textbox3 {
  top: 70%; 
  left: 75%; 
}

.title {
  position: absolute;
  top: 0;
  left: 64px;
  text-align: left;
  color: black;
  font-family: "VAG Rounded";
  font-size: 96px;
  z-index: 1;
}

