.overzicht-container {
  /* position: relative;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 0 0 0 0; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-container,
.overzicht-container {
  flex-grow: 0;
}

.overzicht-img {
  display: flex;
  align-items: left;
  margin: 80px 798px 200px 128px;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
}

.overzicht-titel {
  position: absolute;
  right: 0;
  text-align: right;
  margin: 125px 125px 0px 0px;
  color: black;
  font-family: "VAG Rounded Bold";
  font-size: 99px;
  width: 50%;
  height: 100%;
  padding: 0 0 0 5%;
}

@media screen and (max-width: 1024px) {
  .overzicht-titel {
    position: absolute;
    right: 0;
    text-align: center;
    color: black;
    font-family: "VAG Rounded Bold";
    font-size: calc(99px * 0.5);
    width: 50%;
    height: 100%;
    padding: 0 0 0 5%;
  }
}
