.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust as needed */
    background-color: #61dafb; /* Adjust as needed */
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center;
  }

  .play-icon {
    color: #fff; /* Adjust as needed */
    font-size: 32px; /* Adjust as needed */
    padding-left: 12px; /* Adjust as needed */
  }
  

  .fullscreen-icon {
    color: #fff; /* Adjust as needed */
    font-size: 32px; /* Adjust as needed */
    padding-right: 12px; /* Adjust as needed */
  }
  